<style>
.example {
  top: 50%;
  left: 50%;
  width: 30em;
  height: 18em;
  transform: translate(-50%, -50%);
  border: 1px solid white;
  background-color: gainsboro;
  position: fixed;
  text-align: center;
  font-family: Helvetica;
}

</style>
<html>
<head>
<title>Chitter</title>
</head>
<body>
<div class="example">
<h1>Welcome to Chitter!</h1>

<p><a href='/login'>Log in to send a new peep!</a><p>
</div>
</body>
</html>