<html>
<body>
<h1>Send your peep!</h1>
<p>
<form method="POST" action="/peeps">
  <div>
    <label>Type your peep here</label>
    <input type="text" name="content" />
  </div>
  <input type="hidden" name="maker_id" value="<%= current_user.id %>">
  <input type="submit" />
</form>
</p>
</body>
</html>
